body {
background-color: white;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5;
padding: 0em 2% 0em 2%; 
font-size: 100%;
max-width: 900pt;
display: block;
margin: 5% auto !important; 
float: none !important;
border: 1px solid lightgray;
}
    
.header {
background-color: white;
max-width: 900pt;
height: 45pt;
margin: 0% auto !important; 
float: none !important;
margin-left: 5%;
margin-right: 5%;
border: 1px solid black;
}

.header a {
float: left;
color: black;
text-align: center;
padding: 1em 2em 1em 2em;
text-decoration: none;
line-height: 1.5;
font-size: 12pt;
}

.header img {
height: 100px;
margin-left: 2pt;
}

.header a:hover {
color: blue;
}

@media screen and (max-width: 500px) {
.header a {
float: none;
display: inline-block;
text-align: left;
padding: 0em 2% 0em 2%;
}
    
.header-right {
float: none;
padding: 0em 2% 0em 2%;
}
    
.header img {
height: 100px;
align-content: center;
padding: 0em 0em 0em 0%;
}
}

.sticky {    
position: fixed;
top: 0%;
left: 5%;
right: 5%;
max-height: 900pt;
}

.sticky + .content {
padding-top: 150pt;
padding: 0em 1% 0em 1%;
}

h1 {
color: black;
font-weight: 100;
text-align: center;
display: block;
}

h2,h3, h4, h5, h6 {
text-align: left;
font-weight: 400;
}

p, ul, li, {
color: black;
text-align: left;
display: block;
line-height: 2;
margin-left: 2%;
}

hr {
border: 1px solid black; 
}

a {
color: blue;
background-color: transparent;
text-decoration: none;
}

*, *::after, *::before{
box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
float: left;
width: 33.33%;
padding: 10pt;
/*height: 400pt;*/
}
.column2 {
float: left;
width: 50%;
padding: 10pt;
/*height: 400pt;*/
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
.column {
width: 100%;
}
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
.column2 {
width: 100%;
}
}

.collapsible {
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  padding: 0% 2% 0% 2%; 
  width: 100%;
  border: 1px solid lightgray;
  text-align: left;
  outline: none;
  font-size: 12pt;
}

.collapsible-sub {
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  padding: 0% 2% 0% 2%; 
  width: 100%;
  border: 1px solid lightgray;
  text-align: left;
  outline: none;
  font-size: 12pt;
}

.active, .collapsible-sub:hover {
  background-color: aliceblue;
}

.active, .collapsible:hover {
  background-color: aliceblue;
}


.colapsecontent {
  padding: 1% 1% 1% 1%;
  display: none;
  overflow: hidden;
border: 1px solid lightgray;
  background-color: white;
}

.colapsecontent-sub {
  padding: 1% 1% 1% 1%;
  display: none;
  overflow: hidden;
  border: 1px solid lightgray;
  background-color: white;
}

/* Style The Dropdown Button */
.dropbtn {
background-color: white;
/*height: 40pt;*/
margin: 0 auto !important; 
float: none !important;
text-align: center;
padding: 1em 2em 1em 2em;
line-height: 1.5;
font-size: 12pt;
text-decoration: none;
border: none;
}

.dropdown:hover .dropbtn {
background-color: white;
color: blue;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
background-color: white;
}

.dropdown-content {
display: none;
position: absolute;
background-color: white;
min-width: 200px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index:1;
font-size: 10pt;
}

.dropdown-content .a {
font-family: inherit;
font-size: 8pt;
color: black;	
padding: 1em 0em 3em 2em;
display: block;
text-align: left;

}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
text-align: left;
font-size: 12pt;
}
    
.dropdown-content :hover {background-color: whitesmoke;}
