p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5;
}

h1 {
color: rgb(213,94,0);
font-weight: 700;
text-align: center;
display: block;
}

h2,h3, h4, h5, h6 {
color: rgb(213,94,0);
text-align: left;
font-weight: 500;
margin-left: 1%;
}

p, ul, li {
text-align: left;
line-height: 1.5;
margin-left: 2%;
}

hr{
border: 1px solid black; 
}

a {
color: rgb(0,114,178);
background-color: transparent;
text-decoration: none;
}

.blue{
color: rgb(0,114,178);
}

.red{
  color:rgb(213,94,0);
}




